<div>
    <h1>Bienvenido al chat de la camada</h1>
    <h2>Nombre: <span id="myName"></span>
    </h2>

    {{!-- Input del mensaje --}}
    <div>
        <p> Escribe un mensaje en nuestro ChatBox: <input id="chatBox" type="text"></p>
        <button id="closeChatBox">Close ChatBox</button>
    </div>



    {{!-- renderizado de los mensajes --}}
    <div>
        <p id="messageLogs"></p>
    </div>

</div>

{{!-- me traigo dos scripts que hacen referencia al uso de los sockets --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>